@tailwind base;
@tailwind components;
@tailwind utilities;



html {
  font-family: "Roboto";
  color: #fff;
}


.color-text {
  color: #242424;
}
.color-price {
  color: #ff424e;
}
.category ul li {
  @apply text-xs py-1;
}





.slide:hover .btn-slide {
  display: flex;
}
.btn-slide {
  display: none;
}
.btn-slide .prev,
.btn-slide .next {
  @apply w-8 h-8 rounded-full;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 32px;
  font-size: 22px;
  font-weight: bold;
  color: #ccc;
  cursor: pointer;
}
.related-list ul li {
  min-width: 213px;
}
.related-list ul li + li {
  padding-right: 12px;
}
.related-list:hover ~ .btn-related,
.btn-related:hover {
  display: flex;
}

.btn-related {
  display: none;
}
.btn-related .prev,
.btn-related .next {
  @apply w-8 h-8 rounded-full;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 32px;
  font-size: 22px;
  font-weight: bold;
  color: #ccc;
  cursor: pointer;
}


.angular ul li {
  max-width: 62px;
  max-height: 62px;
  margin: 0 2px;
}
.angular ul li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.description ul li {
  padding: 10.5px 0;
}
footer h3 {
  color: #000 !important;
  font-size: 16px;
  margin-bottom: 8px;
}
footer ul li {
  color: #808089;
  font-size: 11px;
  padding: 4px 0;
}
.footer-bottom {
  border-top: 1px solid #ebebf0;
}
